
/* Applying "box-sizing: border-box" globally to prevent padding from breaking layouts
*/
* { 
  box-sizing: border-box; 
}

.parent {
  margin: 0 auto;
  border: dotted;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center;*/
  padding: 10px;
}

.child {
  font-size: 14px;
  font-family: "Times New Roman",Times, serif;
  background-color: orange;
  padding: 8px;
  border: solid 4px blue;
  border-radius: 7px;
  margin: 4px;
  /*same as flex: 0 0 auto meaning do not grow
  or shrink but respect the element's ideal size*/
  flex: none;
  /*max-width: 100%;*/
  
}
